.menu{
    margin-left: 100px;
    margin-top: 20px;
    color: palevioletred;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
}
.menu:hover{
    color:grey;

}
.title{
    margin-left: 350px;
    width: 800px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    margin-top: 100px;
    display: block;
    color: palevioletred;
}
.under_title{
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    margin-top: 30px;
    margin-bottom: 40px;
    display: inline-block;

}
.first{
    margin-left: 350px;
}
.image{
    width: 1000px;
    display:block;
    margin: 0 auto;
    border-radius: 15px;
}
.descript{
    width: 1000px;
    display: block;
    margin: 50px auto;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 15px;
    background-color: palevioletred;
    opacity: 60%;
    border-radius: 5px;
}
header{
    position: sticky;
    top:0;
    background-color: pink;
}
.subscribe{
    padding: 10px;
    background-color: pink;
}
.subscribe input{
    width: 200px;
    padding: 5px;
}
.subscribe button{
    background-color: palevioletred;
    border: none;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    border-radius: 5px;

}
.review{
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;
}
.rating{
    font-size: 24px;
    margin-bottom: 10px;
}
.star{
    color:orange;
}
input[type="text"],select,textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 10px;
    background-color: pink;
    opacity: 70%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}
label{
    color: palevioletred;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
.review{
    border-radius: 10px;
    border-color: palevioletred;
    background-color: pink;
    
}
p{
    font-family: 'Courier New', Courier, monospace;
    color: palevioletred;
    font-weight: bold;
}
h2{
    font-family: 'Courier New', Courier, monospace;
}